#               Tuples  2/06/2024

A tuple is a collection of different data types which is ordered and unchangeable (immutable). Tuples are written with round brackets, (). Once tuple is created, we cannot change its values.

tuple(): to create the empty tuple 

count(): to count the number of a specific item in a tuple 

index(): to find the index of a specificed item in a tuple

In [1]:
my_tuple=tuple()
print(my_tuple)

()

In [3]:
my_new_tuple=(1,7,9)
print(my_new_tuple)

(1, 7, 9)

In [4]:
len(my_new_tuple)

3

In [5]:
len(my_tuple)

0

In [11]:
my_new_tuple[0]

1

In [8]:
my_new_tuple[2]

9

In [9]:
my_new_tuple[1]=95

TypeError: 'tuple' object does not support item assignment

as said before tuple cannot be changed

In [10]:
my_new_tuple[3]=89

TypeError: 'tuple' object does not support item assignment

so we cannot use add, insert, remove methods in a tuple because it is not modifiable (mutable). Unlike list, tuple has few methods.

### Slicing Tuples

In [12]:
my_new_tuple[0:3]

(1, 7, 9)

In [13]:
my_new_tuple[0]

1

In [14]:
my_new_tuple[0:]

(1, 7, 9)

In [15]:
my_new_tuple[1:]

(7, 9)

In [16]:
my_new_tuple[:2]

(1, 7)

In [17]:
my_new_tuple[-1:]

(9,)

In [18]:
tpl=('item1', 'item2', 'item3', 'item4')

In [19]:
tpl[-4:]

('item1', 'item2', 'item3', 'item4')

In [20]:
tpl[-3:]

('item2', 'item3', 'item4')

In [21]:
tpl[-1:]

('item4',)

In [22]:
tpl[:-1]

('item1', 'item2', 'item3')

In [23]:
tpl[:-3]

('item1',)

In [25]:
tpl[-3:-1]

('item2', 'item3')

### Changing Tuples to Lists

In [26]:
my_list=list(tpl)
my_list

['item1', 'item2', 'item3', 'item4']

### Check item in Tuple

In [27]:
'item1' in tpl

True

In [28]:
'item5' in tpl

False

### Loop

1. While 

2. for

while condition:
    
    code goes here
    
 else:
 
    code goes here

In [38]:
count=0
while count<5:
    print("Anything")
    count=count+1
else:
    print("Nothing")

Anything
Anything
Anything
Anything
Anything
Nothing

### Break

In [39]:
count=0
while count<5:
    print("Anything")
    count=count+1
    break

Anything

In [49]:
count=0
while count<5:
    print("Anything")
    count=count+1
    if count==3:
        break

Anything
Anything
Anything

Continue: with the continue statement we can skip the current iteration, and continue with the next:

In [51]:
count=0
while count<5:
    if count==3:
        count=count+1
        continue
    print(count)
    count=count+1

0
1
2
4

In [52]:
count=0
while count<5:
    if count==3:
        count=count+1
    print(count)
    count=count+1

0
1
2
4

### For Loop

In [53]:
num_list=[0,1,2,3,4]
for number in num_list:
    print(number)

0
1
2
3
4

In [54]:
name="Arya"
for letter in name:
    print(letter)

A
r
y
a

In [55]:
name[0]

'A'

In [57]:
name[2]

'y'

In [58]:
number=(1,5,8,15)
for i in number:
    print(i)

1
5
8
15

In [62]:
dict_1={'protein_A':174,
        'protein_B':226}
for i in dict_1:
    print(i)

protein_A
protein_B

In [65]:
dict_new={'name':'Arya',
         'skills':['Python','R programming']}

In [66]:
dict_new['skills']

['Python', 'R programming']