# Strings and Functions

### 1. Strings Concatenation

In [1]:
name = "I am Arya"
city = "I am from Bengaluru"

info = name + " " +city
print(info)

I am Arya I am from Bengaluru

In [2]:
name = "Arya"
last_name = "patel"
city = "Bangalore"

print("I am "+ name + " " +last_name+ " " + "and I am from " + city)

I am Arya patel and I am from Bangalore

In [3]:
student = {
    "name": "arya",
    "age" : "22",
    "year" : 4
}
info = "The student's name is " + student["name"] + ", she is " +student["age"] + "years old and she is in the " + str(student["year"])
print(info)

The student's name is arya, she is 22years old and she is in the 4

### Format{}

In [4]:
student = {
    "name": "arya",
    "age" : "22",
    "year" : 4
}
info = "The student's name is {}, she is {} years old and she is in {} years.".format(student["name"], student["age"], student["year"]) 
print(info)

The student's name is arya, she is 22 years old and she is in 4 years.

In [5]:
student = {
    "first_name": "Arya",
    "last_name": "patel"
}

info = "Name-{0} {1} and email id  {1}_{0}@gamil.com".format(student["first_name"], student["last_name"])
print(info)

Name-Arya patel and email id  patel_Arya@gamil.com

In [6]:
info = "The studnet's name is {name}, his age is {age} and he is in {year}th year".format(name="Arya", age="22", year="4")
print(info)

The studnet's name is Arya, his age is 22 and he is in 4th year

### Fuctions

In [7]:
def my_function():
    print("Hello Python!")

In [8]:
my_function()

Hello Python!

In [9]:
def my_function(first_name, last_name):
    print("Student's name is {fname} {lname} and the email ID is {lname}_{fname}@gamail.com".format(fname=first_name, lname=last_name))

In [10]:
my_function("Arya", "Patel")

Student's name is Arya Patel and the email ID is Patel_Arya@gamail.com

In [11]:
my_function("Binay", "Patel")

Student's name is Binay Patel and the email ID is Patel_Binay@gamail.com

### Using *args

In [12]:
def second_function(*kid):
    print("The youngest child in the family is " + kid[2])
    
second_function("ravi", "akhil", "rahul")

The youngest child in the family is rahul

In [13]:
def second_function(*kid):
    print("The youngest child in the family is " + kid[0])
    
second_function("ravi", "akhil", "rahul")

The youngest child in the family is ravi

In [14]:
fruits = ["apple", "mango", "raspberries", "watermelon"]  
def fruits_I_like(list_of_fruits):
    for x in list_of_fruits:
        print(x)
fruits_I_like(fruits)

apple
mango
raspberries
watermelon

In [15]:
def multiples_by_five(integer):
    return 5 * integer

print(multiples_by_five(21))
print(multiples_by_five(2))
print(multiples_by_five(25))
print(multiples_by_five(20))
print(multiples_by_five(222))

105
10
125
100
1110

### Using keywords on a function

In [16]:
def another_function(child1, child2, child3):
    print("Youngest child is " + child3)
    
another_function(child3 = "Rahul", child1 = "Ravi", child2 = "akhil")

Youngest child is Rahul

In [17]:
def another_function(child1, child2, child3):
    print("Youngest child is " + child3,
          "Middle child is " + child2,
          "First child is " + child1)
    
another_function(child3 = "Rahul", child1 = "Ravi", child2 = "akhil")

Youngest child is Rahul Middle child is akhil First child is Ravi

### Using **kwarg1

In [18]:
def fifth_function(**kid):
    print("The last naame is " + kid["lname"])
fifth_function(fname = "Rahul", lname = "Siyanwal", mname = " Sigh")

The last naame is Siyanwal