# File Handling - 5/06/2024

- CREATE a file
- READ a file
- WRITE a file
- APPEND the file
- RENAME the file
- DELETE the file

### Read a new file

In [1]:
file = open("file.txt", "r")

for line in file:
    print(line)

Hi! I am Arya

I learning Python and R programming for my higher studies

Nice to meet you.

In [2]:
with open("file.txt") as file:
    data = file.read()
print(data)

Hi! I am Arya
I learning Python and R programming for my higher studies
Nice to meet you.

### Creating a file

    W : open an existing file for a write opertaion.
    If the file already contains some data then it will be overridden but if the file is not present then it creates the file as well.

In [3]:
create_file = open("new_file.txt", "w")

In [4]:
create_file.write("Hi!")
create_file.write("I from India")

12

In [5]:
create_file.write("Hi!")
create_file.write("\n")
create_file.write("I from India")

12

In [6]:
create_file.close()

In [7]:
with open("new_file.txt") as file:
    data = file.read()
print(data)

Hi!I from IndiaHi!
I from India

In [8]:
gratitude_list = ["learning", "my parents", "my friends", "good internet coonection"]

gratitude_file = open("gratitude.txt", "w")

for item in gratitude_list:
    gratitude_file.write("I am Grateful for {}".format(item))
    gratitude_file.write("\n")
    
gratitude_file.close()

In [9]:
gratitude_file = open("gratitude.txt", "a")
gratitude_file.write("I am also grateful to GOD.")
gratitude_file.close()

In [10]:
create_new_file = open("kkk.txt", "w")

In [11]:
create_new_file.write("Basic Concepts: Read Bioinformatics for Dummies by Jean-Michel Claverie and Cedric Notredame. Explore online resources and tutorials (e.g., Khan Academy, Coursera")
create_new_file.write("\n")
create_new_file.write("Basic Biology:Review fundamental concepts in biology: DNA, RNA, proteins, and genetics.Use resources like Molecular Biology of the Cell by Alberts et al. or Khan Academy.Introduction to Databases:Learn about major biological databases: NCBI, EMBL-EBI, and DDBJPractice basic searches and data retrieval.")
create_new_file.close()

In [41]:
import os

In [13]:
os.rename("kkk.txt", "study_yourself.txt")

In [16]:
create_new_file = open("new_new_file.txt", "w")

In [26]:
create_new_file.write("Hi!")
create_new_file.write("I from India")
create_new_file.close()

In [27]:
os.remove = ("new_new_file.txt")

### Copying a file

- CREATE a file "one.txt" and WRITE your contect in it 
- CLOSE the file "two.txt"
- CREATE another file "two.txt"
- READ the contents of the file "one.txt" and WRITE those contents in the file "two.txt"
- CLOSE both files.

In [32]:
file1 =open("one.txt", "w")

In [33]:
file1.write("Thsis is the first file \n")
file1.close()

In [43]:
file2 = open("Two.txt", "w")

In [44]:
file1 = open("one.txt", "r")

In [45]:
for line in file1: 
    file2.write(line)

In [46]:
file2.close()

In [52]:
file1.close()
os.remove("one.txt")

### PANDAS

##### Importing Pandas

In [54]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     ---------------------------------------- 10.0/10.0 MB 7.0 MB/s eta 0:00:00
Collecting pytz>=2017.3
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     -------------------------------------- 505.5/505.5 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\mansi chandra\.conda\envs\pythonclass\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mansi chandra\.conda\envs\pythonclass\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\mansi chandra\.conda\envs\pythonclass\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2024.1
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd

In [60]:
name = ["Arya", "Binay", "Anuradha", "Chandra"]
degree = ["Masters", "Masters", "Masters", "Masters"]
score = [90,95,97,98]

#Create a dictionary
dictionary = {"Name": name, "Degree": degree, "Score":score}

df = pd.DataFrame(dictionary)

In [61]:
df

       Name   Degree  Score
0      Arya  Masters     90
1     Binay  Masters     95
2  Anuradha  Masters     97
3   Chandra  Masters     98

In [62]:
df.tail()

       Name   Degree  Score
0      Arya  Masters     90
1     Binay  Masters     95
2  Anuradha  Masters     97
3   Chandra  Masters     98

In [63]:
df.head()

       Name   Degree  Score
0      Arya  Masters     90
1     Binay  Masters     95
2  Anuradha  Masters     97
3   Chandra  Masters     98

In [ ]:
df.to_csv("pandas_data.c")